
  .menu-item{
    margin-left: 20px;
    background-color: #E5E8FF;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    border: 0px solid ;
    font-size: 20px;
    font-family: Nunito;
    cursor: pointer;

  }
  .menu-item-active{
    margin-left: 20px;
    background-color: #FDBB10;
    border-radius: 40px;
    width: 200px;
    height: 70px;
    border: 0px solid ;
    font-size: 20px;
    font-family: Nunito;
    cursor: pointer;
  }

@media (max-width: 600px) {
  .button {
  width: 150px;
  height: 60px;
  font-size: 17px;
  }
    .menu-item{
      height:50px;
      width: 125px;
      font-size:14px;
    }
}