.headerContainer {
  background: var(--white);
  height: 2rem;
  display: flex;
  align-items: center;
 
  padding: 2rem 4rem;

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  img {
    height: 30px;
    justify-content: flex-start;
    margin-right: 60%;
    margin-left:70px;
  }
  a {
     margin-left:50px;
     font-family: 'Nunito';
     text-decoration: none;
     color: #1A1A1A;
  }

}

hr {
  height:2px;
  background-color: #E6E8FF;
  border-width: 0px;
}

.headerMenu {
  margin-left:150px;
}