.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;

  font-family: Nunito;
  a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 1.2rem;
  }

  img {
    width: 80%;
    height: 50%;
  }
}
.footerMenu{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 1%;
  span {
    color: #6866CC;
    font-size: 60px;
  }
}
hr {
  height:2px;
  background-color: #E6E8FF;
  border-width: 0px;
}

p {
  font-family: 'Nunito';
  text-align: center;
}

.socialButtons {
  display: flex;
  align-items: flex-end;
  margin-left: 50%;
}

@media (max-width: 600px) {
  .footerMenu{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .socialButtons{
    margin-left: 20px;
  }
  .menu{
    margin-left: 35px;
  }
  .footerContainer {
    
    margin-left: 7px;
    height: 100%;
    width: 100%;
    img {
      height: 30%;
      width: 70%;
      margin-top: 9%;
    }
    a {
      font-size: 1rem;
    }
    span {
      font-size: 2rem;
    }
   }

   .logo {
    width: 30%;
    
   }

   .container{
    max-width:100vw;
  }

}
