.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.background {
  background-image: url(../../images/background-login.png);
  background-repeat: no-repeat;
  background-position: center;
}
.loginCard {
  margin-left: -850px;
  margin-top: 60px;
}
@media (max-width: 600px) {
  .container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #fff;

    font-family: nunito;
    .signUpCard {
      display: none;
    }

    .loginCard {
      display: flex;
      margin-left: 0;
    }
  }
  .footer {
    background-color: #fff;
  }
}
