.container {
  height: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  padding-top: 10%;
}

.background {
  background-image: url(../../images/background-login.png);
  background-repeat: no-repeat;
  background-position: center;
}
.loginCard {
  position: absolute;
  left: 25%;
  top: 44%;
  z-index: 2;
}

.signUpCard {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    font-family: nunito;
    .signUpCard {
      display: none;
    }

    .loginCard {
      display: flex;
      position: inherit;
    }
  }
  .footer {
    background-color: #fff;
  }

  .mobileLogin {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 35px;
      color: #6866cc;
      font-family: Nunito;
      font-weight: 100px;
    }
    .input {
      border: 2px solid #6866cc;
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 250px;
      height: 35px;
    }
    .form {
      padding-top: 10px;
      align-items: center;
    }
    .button {
      background: #6866cc;
      color: #fff;
      width: 120px;
      height: 43px;
      border-radius: 40px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border: 0px;
      margin-top: 50;
      align-items: center;
      justify-self: center;
      cursor: pointer;
      margin-top: 30px;
      margin-left: 70px;
    }

    .divLabel {
      text-align: left;
      margin-top: 30;
    }
  }
}
@media (max-width: 1920px) {
  .loginCard {
    left: 32%;
    top: 37%;
  }
}
@media (max-width: 1366px) {
  .loginCard {
    left: 25%;
    top: 45%;
  }
}
